.jackpotcity {
  background: linear-gradient(to right top, #2b012c, #850b89);
}
.night_rush {
  background: linear-gradient(to right top, #09274b, #154f94);
}
.casino_888 {
  background: linear-gradient(to right top, #0a0a0a, #2f2f2f);
}
.casino_777 {
  background: linear-gradient(to right top, #660f25, #d64060);
}
.leovegas {
  background: linear-gradient(to right top, #923825, #db7c30);
}
.dream {
  background: linear-gradient(to right top, #14447a, #3570b4);
}
.play_amo {
  background: linear-gradient(to right top, #1b1b1b, #3a3a3a);
}
.bob {
  background: linear-gradient(to right top, #2f1c06, #8a6539);
}
.casino_cruise {
  background: linear-gradient(to right top, #1a1a15, #be6539);
}
.casino_joy {
  background: linear-gradient(to right top, #7a5690, #689fdd);
}
.genesis {
  background: linear-gradient(to right top, #291b49, #141854);
}
.sloty {
  background: linear-gradient(to right top, #14317a, #2952d9);
}
.spinit {
  background: linear-gradient(to right top, #8e214a, #a70e41);
}
.vegas_hero {
  background: linear-gradient(to right top, #0a0a0a, #2f2f2f);
}
.royl_slots {
  background: linear-gradient(to right top, #312c4a, #b04762);
}
.betway {
  background: linear-gradient(to right top, #0a0a0a, #2f2f2f);
}
.hippodrom {
  background: linear-gradient(to right top, #0b0b0b, #1b1b1b);
}
.bondibet {
  background: linear-gradient(to right top, #1b1b1b, #3b3b3b);
}
.bodog {
  background: linear-gradient(to right top, #0a0a0a, #2f2f2f);
}
.all_slots {
  background: linear-gradient(to right top, #1f5cd8, #0e97ee);
}
.nugget {
  background: linear-gradient(to right top, #d87042, #dd906e);
}
.mummis {
  background: linear-gradient(to right top, #5a0c5d, #850b89);
}
.platinum {
  background: linear-gradient(to right top, #0b0b0b, #1b1b1b);
}
.river {
  background: linear-gradient(to right top, #2f1c06, #8a6538);
}
.spin_palace {
  background: linear-gradient(to right top, #464c79, #676fac);
}
.room {
  background: linear-gradient(to right top, #12679d, #0e97ee);
}
.dunder {
  background: linear-gradient(to right top, #1b1b1b, #3b3b3b);
}
.europa {
  background: linear-gradient(to right top, #141954, #242d96);
}
.magic {
  background: linear-gradient(to right top, #be3636, #ee3737);
}
.bethard {
  background: linear-gradient(to right top, #0c0c0c, #262626);
}
.fun {
  background: linear-gradient(to right top, #03152d, #0c2241);
}
.golden {
  background: linear-gradient(to right top, #0a0a0a, #2f2f2f);
}
.mate {
  background: linear-gradient(to right top, #1c5d35, #26874b);
}
.guns {
  background: linear-gradient(to right top, #0a0a0a, #2f2f2f);
}
.house {
  background: linear-gradient(to right top, #0b0b0b, #1b1b1b);
}
.karamba {
  background: linear-gradient(to right top, #adadad, #e1e1e1);
}
.luck_land {
  background: linear-gradient(to right top, #427e7c, #63adaa);
}
.casimba {
  background: linear-gradient(to right top, #0b1428, #122245);
}
.loki {
  background: linear-gradient(to right top, #59437e, #8165af);
}
.mr_green {
  background: linear-gradient(to right top, #176132, #2a834b);
}
.rich {
  background: linear-gradient(to right top, #0b0b0b, #1b1b1b);
}
.roal_vegas {
  background: linear-gradient(to right top, #721818, #c22e2e);
}
.omnia {
  background: linear-gradient(to right top, #0b0b0b, #2e2e2e);
}
.roal {
  background: linear-gradient(to right top, #0b0b0b, #1b1b1b);
}
.scandibet {
  background: linear-gradient(to right top, #122245, #2e4273);
}
.twin {
  background: linear-gradient(to right top, #147ea6, #00a3e0);
}
.sprint {
  background: linear-gradient(to right top, #0b0b0b, #1b1b1b);
}
.slotjoint {
  background: linear-gradient(to right top, #0b0b0b, #2f2f2f);
}
.yako {
  background: linear-gradient(to right top, #603686, #825da3);
}
.yeti {
  background: linear-gradient(to right top, #194c5b, #327082);
}
.vc {
  background: linear-gradient(to right top, #0b0b0b, #2f2f2f);
}
.all {
  background: linear-gradient(to right top, #0b1f60, #304da9);
}
.blackdiamond {
  background: linear-gradient(to right top, #0a0a0a, #252525);
}
.bovada {
  background: linear-gradient(to right top, #0a0a0a, #2f2f2f);
}
.bovegas {
  background: linear-gradient(to right top, #0a0a0a, #252525);
}
.box_casino {
  background: linear-gradient(to right top, #4f0000, #b60000);
}
.casino_com {
  background: linear-gradient(to right top, #00000d, #2f2f2f);
}
.casino_lands {
  background: linear-gradient(to right top, #092f3b, #296373);
}
.midas {
  background: linear-gradient(to right top, #0a0a0a, #252525);
}
.cas {
  background: linear-gradient(to right top, #127367, #10b49f);
}
.desert {
  background: linear-gradient(to right top, #101010, #330a46);
}
.diamond {
  background: linear-gradient(to right top, #101010, #292929);
}
.energy {
  background: linear-gradient(to right top, #101010, #292929);
}
.euro {
  background: linear-gradient(to right top, #101010, #292929);
}
.go {
  background: linear-gradient(to right top, #0b3b17, #2b733e);
}
.gamingclub {
  background: linear-gradient(to right top, #0b3b17, #2b733d);
}
.mega {
  background: linear-gradient(to right top, #0a0a0a, #2f2f2f);
}
.miami {
  background: linear-gradient(to right top, #19213a, #44455d);
}
.parklane {
  background: linear-gradient(to right top, #1b1b1b, #3b3b3b);
}
.planet {
  background: linear-gradient(to right top, #6b1925, #9e2134);
}
.raging_bull {
  background: linear-gradient(to right top, #0a0a0a, #2f2f2f);
}
.red_stage {
  background: linear-gradient(to right top, #1b1b1b, #3b3b3b);
}
.ruby {
  background: linear-gradient(to right top, #751139, #c2285e);
}
.sloto {
  background: linear-gradient(to right top, #1f5689, #0e95e9);
}
.slots_capital {
  background: linear-gradient(to right top, #0a0a0a, #232323);
}
.slots_vegas {
  background: linear-gradient(to right top, #751139, #ed1c5f);
}
.slots_lv {
  background: linear-gradient(to right top, #c42956, #eb5984);
}
.sparta {
  background: linear-gradient(to right top, #0b0b0b, #3b3b3b);
}
.springbok {
  background: linear-gradient(to right top, #0b2305, #1a4a10);
}
.uptown {
  background: linear-gradient(to right top, #1d1d1d, #253a32);
}
.uptown_acey {
  background: linear-gradient(to right top, #1d1d1d, #253a32);
}
.empire {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.king {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.reddog {
  background: linear-gradient(to right top, #cfcfcf, #ffffff);
}
.alf_casino {
  background: linear-gradient(to right top, #18012c, #3a2798);
}
.anti_games {
  background: linear-gradient(to right top, #0e3067, #265bae);
}
.eu_slot {
  background: linear-gradient(to right top, #193664, #254d8c);
}
.eskim {
  background: linear-gradient(to right top, #0c62a4, #22a2e4);
}
.speedy_casino {
  background: linear-gradient(to right top, #cfcfcf, #fff);
}
.speedy_bet {
  background: linear-gradient(to right top, #cfcfcf, #fff);
}
.hyper {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.oust_casino {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.dingo {
  background: linear-gradient(to right top, #1c5d35, #26874b);
}
.jellybean {
  background: linear-gradient(to right top, #0c61a4, #22a2e4);
}
.spinia {
  background: linear-gradient(to right top, #121320, #323456);
}
.duelz {
  background: linear-gradient(to right top, #193664, #254d8c);
}
.turbo_vegas {
  background: linear-gradient(to right top, #cfcfcf, #fff);
}
.dukez {
  background: linear-gradient(to right top, #296c7f, #3f9eaa);
}
.reelz_casino {
  background: linear-gradient(to right top, #084100, #389e2a);
}
.spins_7 {
  background: linear-gradient(to right top, #307d1b, #468726);
}
.alpha_casino {
  background: linear-gradient(to right top, #cfcfcf, #fff);
}
.betchan {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.boaboa {
  background: linear-gradient(to right top, #cfcfcf, #fff);
}
.buran_casino {
  background: linear-gradient(to right top, #374577, #4f62a3);
}
.captain_jack {
  background: linear-gradient(to right top, #8b7549, #d0ba8e);
}
.casinia {
  background: linear-gradient(to right top, #052e29, #0e554c);
}
.casino_moons {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.club_player {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.cool_cat {
  background: linear-gradient(to right top, #121536, #20336a);
}
.dreams_casino {
  background: linear-gradient(to right top, #121320, #323456);
}
.emu_casino {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.grand_fortune {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.slots_com {
  background: linear-gradient(to right top, #b60d26, #ec0023);
}
.ignition {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.joe_fortune {
  background: linear-gradient(to right top, #f9aa53, #f6e259);
}
.joo_casino {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.la_fiesta {
  background: linear-gradient(to right top, #8350a0, #a35ccb);
}
.liberty_slots {
  background: linear-gradient(to right top, #121536, #20336a);
}
.lincoln {
  background: linear-gradient(to right top, #121536, #20336a);
}
.loki_casino {
  background: linear-gradient(to right top, #cfcfcf, #fff);
}
.malina_casino {
  background: linear-gradient(to right top, #2b012c, #5c1f5d);
}
.palace_chance {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.prism {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.ruby_slots {
  background: linear-gradient(to right top, #8d1909, #be4636);
}
.silver_oak {
  background: linear-gradient(to right top, #103443, #1b5f7b);
}
.slot_madness {
  background: linear-gradient(to right top, #ee3c37, #f97429);
}
.slots_village {
  background: linear-gradient(to right top, #121536, #20336a);
}
.thebes {
  background: linear-gradient(to right top, #640d0d, #b62511);
}
.true_blue {
  background: linear-gradient(to right top, #121320, #323456);
}
.weddy_slot {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.wild_vegas {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.winward {
  background: linear-gradient(to right top, #121320, #323456);
}
.yo_yo {
  background: linear-gradient(to right top, #cfcfcf, #fff);
}
.bet10 {
  background: linear-gradient(to right top, #0f2245, #2b4578);
}
.bet1x {
  background: linear-gradient(to right top, #0b2c68, #4370ca);
}
.slots1x {
  background: linear-gradient(to right top, #4a4a4a, #2d2d2d);
}
.admiral {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.africasino {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.alladins {
  background: linear-gradient(to right top, #850b89, #2b012c);
}
.allstars {
  background: linear-gradient(to right top, #121320, #323456);
}
.bahsegel {
  background: linear-gradient(to right top, #2c649a, #257bcd);
}
.betatcasino {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.betsafe {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.betsson {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.bettilt {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.bgo {
  background: linear-gradient(to right top, #0b2c68, #4370ca);
}
.buzzluck {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.cabaretclub {
  background: linear-gradient(to right top, #a40c0c, #730303);
}
.cafecasino {
  background: linear-gradient(to right top, #cfcfcf, #ffffff);
}
.cashpot {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.epoca {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.casinoeuro {
  background: linear-gradient(to right top, #2b4578, #0f2245);
}
.winnercasino {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.casinox {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.casinoone {
  background: linear-gradient(to right top, #2b4578, #0f2245);
}
.casinocasino {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.disco {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.jefe {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.casinomax {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.stugan {
  background: linear-gradient(to right top, #ffe9b3, #fcf5e4);
}
.cherry {
  background: linear-gradient(to right top, #b02b3e, #d9143d);
}
.cherryjackpot {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.cherrygold {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.clubsa {
  background: linear-gradient(to right top, #1c5d35, #26874b);
}
.clubworld {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.comeon {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.cristal {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.dansk {
  background: linear-gradient(to right top, #111111, #202020);
}
.dragon {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.druckgluck {
  background: linear-gradient(to right top, #4370ca, #0b2c68);
}
.eolipse {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.europalace {
  background: linear-gradient(to right top, #1e3654, #385b86);
}
.eldorado {
  background: linear-gradient(to right top, #181818, #202321);
}
.euroslots {
   background: linear-gradient(to right top, #cfcfcf, #ffffff);
}
.fastbet {
  background: linear-gradient(to right top, #00a19a, #43d7c4);
}
.exclusive {
  background: linear-gradient(to right top, #121320, #323456);
}
.finlandia {
  background: linear-gradient(to right top, #1d1d4b, #2b4578);
}
.folkeautomate {
  background: linear-gradient(to right top, #cfcfcf, #ffffff);
}
.getlucky {
  background: linear-gradient(to right top, #2a3b5e, #131b29);
}
.gmslots {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.freespin {
  background: linear-gradient(to right top, #4370ca, #49a6db);
}
.goldenlion {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.guts {
  background: linear-gradient(to right top, #cfcfcf, #ffffff);
}
.hightnoon {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.happyluke {
  background: linear-gradient(to right top, #a41554, #fe3dd0);
}
.jackpotjoy {
  background: linear-gradient(to right top, #000dd0, #0f95fe);
}
.intercasino {
  background: linear-gradient(to right top, #0e3e50, #1d576d);
}
.kalevala {
  background: linear-gradient(to right top, #2c649a, #257bcd);
}
.kaboo {
  background: linear-gradient(to right top, #131313, #2c2c2c);
}
.karl {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.kroon {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.luckyred {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.luckydays {
  background: linear-gradient(to right top, #202020, #342d4c);
}
.livecasino {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.luckydino {
  background: linear-gradient(to right top, #006560, #008982);
}
.manhattan {
  background: linear-gradient(to right top, #ba6e69, #e7b0ad);
}
.maxbet {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.miamidice{
  background: linear-gradient(to right top, #58b5c4, #d782b3);
}
.mobileautomaten {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.mobilebet {
  background: linear-gradient(to right top, #cfcfcf, #ffffff);
}
.mongoose {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.nobonus {
  background: linear-gradient(to right top, #402560, #f16aab);
}
.ninja {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.nordicasino {
  background: linear-gradient(to right top, #1d77a7, #2ea5e4);
}
.nordicbet {
  background: linear-gradient(to right top, #0a5489, #0d6eb3);
}
.norske {
  background: linear-gradient(to right top, #01344a, #004c6d);
}
.nyspins {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.olaspill {
  background: linear-gradient(to right top, #1d78a7, #2ea5e4);
}
.oranje {
  background: linear-gradient(to right top, #1b1d2e, #1d384e);
}
.orientxpress {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.osiris {
  background: linear-gradient(to right top, #1f1911, #3b3122);
}
.faraon {
   background: linear-gradient(to right top, #1b1b1b, #241d18);
}
.oloplay {
  background: linear-gradient(to right top, #e12deb, #5178db);
}
.playroyalvegas {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.redbet {
  background: linear-gradient(to right top, #bb2018, #ee2e24);
}
.playfrank {
   background: linear-gradient(to right top, #004e7c, #006dae);
}
.redflush {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.reeltastic {
  background: linear-gradient(to right top, #83e4f5, #a1e9f6);
}
.rizk {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.royalace {
  background: linear-gradient(to right top, #2a3b5e, #131b29);
}
.roaring {
   background: linear-gradient(to right top, #2c2c2c, #202020);
}
.socasino {
  background: linear-gradient(to right top, #181818, #202321);
}
.slotoze {
  background: linear-gradient(to right top, #2b4578, #0f2245);
}
.slotscafe {
  background: linear-gradient(to right top, #39185b, #512b78);
}
.slottyvegas {
  background: linear-gradient(to right top, #e1340b, #f36e30);
}
.snabbare {
  background: linear-gradient(to right top, #098ac8, #1db3fd);
}
.spinland {
  background: linear-gradient(to right top, #1d2d4b, #2b4578);
}
.spela {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.spinstation {
  background: linear-gradient(to right top, #132341, #1f3152);
}
.suomiarvat {
  background: linear-gradient(to right top, #22316e, #5166ad);
}
.suomikasino {
  background: linear-gradient(to right top, #127373, #109393);
}
.suomiautomaatti {
  background: linear-gradient(to right top, #0b2c68, #4370ca);
}
.suomivegas {
  background: linear-gradient(to right top, #136276, #13508e);
}
.superunes {
  background: linear-gradient(to right top, #fa9424, #f97832);
}
.sveacasino {
  background: linear-gradient(to right top, #003b5e, #0671ad);
}
.sverige {
  background: linear-gradient(to right top, #ee3737, #be3636);
}
.templenile {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.grendivy {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.turbocasino {
   background: linear-gradient(to right top, #cfcfcf, #ffffff);
}
.unique {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.vegaspalms {
  background: linear-gradient(to right top, #12439c, #1b75d9);
}
.verajohn {
  background: linear-gradient(to right top, #bb0069, #ff008f);
}
.videoslots {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.vivemon {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.voodoo {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.wildjack {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.winningroom {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.vulcanbet {
  background: linear-gradient(to right top, #2c2c2c, #202020);
}
.jonnyjackpot {
  background: linear-gradient(to right top, #2c2c2c, #282828);
}
.slotnite {
  background: linear-gradient(to right top, #2c2c2c, #282828);
}
.wazamba {
  background: linear-gradient(to right top, #4c35c6, #18012c);
}
.bet22 {
  background: linear-gradient(to right top, #07373b, #025b63);
}
.theonlinecasino {
  background: linear-gradient(to right top, #023029, #202020);
}
.winorama {
  background: linear-gradient(to right top, #1a1103, #342302);
}
.ace_pokies {
  background: linear-gradient(to right top, #135021, #097122);
}
.allspin {
  background: linear-gradient(to right top, #4590af, #67b8da);
}
.betzest {
  background: linear-gradient(to right top, #521b6e, #68208d);
}
.fest {
  background: linear-gradient(to right top, #4581d2, #84afef);
}
.bingo_spirit {
  background: linear-gradient(to right top, #1b1eab, #0f71f6);
}
.bonza {
  background: linear-gradient(to right top, #333333, #3e3e3e);
}
.campeon_bet {
  background: linear-gradient(to right top, #1b1b1b, #393939);
}
.classy_slots {
  background: linear-gradient(to right top, #3f231a, #523c2c);
}
.cyber_bingo {
  background: linear-gradient(to right top, #316dc3, #6193d8);
}
.evobet {
  background: linear-gradient(to right top, #132313, #224322);
}
.kahuna {
  background: linear-gradient(to right top, #351738, #612767);
}
.pokie_spins {
  background: linear-gradient(to right top, #333333, #3e3e3e);
}
.planet_oz {
  background: linear-gradient(to right top, #5e0b0b, #961a1a);
}
.roo {
  background: linear-gradient(to right top, #0c3711, #0b5714);
}
.wild_blaster {
  background: linear-gradient(to right top, #081424, #18386a);
}
.slots_hall {
  background: linear-gradient(to right top, #ffc155, #fff03c);
}
.x_pokies {
  background: linear-gradient(to right top, #1f365a, #345994);
}
.com_21 {
  background: linear-gradient(to right top, #4a1a73, #6a28a3);
}
.go_wild {
  background: linear-gradient(to right top, #171717, #303030);
}
.piggy_bang {
  background: linear-gradient(to right top, #0c3711, #0b5714);
}
.astral_bet {
  background: linear-gradient(to right top, #081424, #18386a);
}
.wild_jackpots {
  background: linear-gradient(to right top, #2f116a, #4c2598);
}
.bit_starz {
  background: linear-gradient(to right top, #171717, #2d2d2d);
}
.zet_casino {
  background: linear-gradient(to right top, #171717, #2d2d2d);
}
.buff_bet {
  background: linear-gradient(to right top, #171717, #303030);
}
.n1_casino {
  background: linear-gradient(to right top, #171717, #343434);
}
.b_casino{
  background: linear-gradient(to right top, #f92011, #ff675d);
}
.gate_777{
  background: linear-gradient(to right top, #0a1730, #122e62);
}
.gg_bet{
  background: linear-gradient(to right top, #171717, #2d2d2d);
}
.playzee{
  background: linear-gradient(to right top, #1bb6b1, #4ff1ec);
}
.vulkan_vegas{
  background: linear-gradient(to right top, #0a1730, #122e62);
}
.white_lion {
  background: linear-gradient(to right top, #102438, #24405d);
}
.bordeaux {
  background: linear-gradient(to right top, #171717, #631d2f);
}
.napoli {
  background: linear-gradient(to right top, #0a1730, #132d62);
}
.slots_500 {
  background: linear-gradient(to right top, #171717, #343434);
}
.diamond_club {
  background: linear-gradient(to right top, #171717, #343434);
}
.casino_lasvegas {
  background: linear-gradient(to right top, #171717, #2d2d2d);
}
.kassu {
  background: linear-gradient(to right top, #284a8d, #3f79e7);
}
.royal_spinz {
  background: linear-gradient(to right top, #451773, #6b30a6);
}
.betano {
  background: linear-gradient(to right top, #ca4415, #f09320);
}
.expekt {
  background: linear-gradient(to right top, #171717, #2d2d2d);
}
.bahigo {
  background: linear-gradient(to right top, #cc2222, #f04343);
}
.maneki {
  background: linear-gradient(to right top, #171717, #2d2d2d);
}
.boo_casino {
  background: linear-gradient(to right top, #171717, #2d2d2d);
}