@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, address, big, blockquote, cite, code,
del, dfn, em, img, ins, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, input, fieldset, legend, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, main, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: none;
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  line-height: 1; }

*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

ol, ul, nav, menu {
  list-style: none; }

img, video, canvas {
  max-width: 100%; }

img {
  vertical-align: bottom; }

a, button {
  cursor: pointer;
  margin: 0;
  padding: 0; }

a:hover, button:hover {
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

th, td {
  vertical-align: middle; }

iframe {
  width: 100%; }

/* Awesome */
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fa-brands-400.eot");
  src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg"); }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Montserrat-Thin"), url("../fonts/Montserrat-Thin.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local("Montserrat-ThinItalic"), url("../fonts/Montserrat-ThinItalic.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Montserrat-ExtraLight"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local("Montserrat-ExtraLightItalic"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Montserrat-Light"), url("../fonts/Montserrat-Light.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Montserrat-LightItalic"), url("../fonts/Montserrat-LightItalic.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat-MediumItalic"), url("../fonts/Montserrat-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat-SemiBoldItalic"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local("Montserrat-ExtraBoldItalic"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Montserrat-Black"), url("../fonts/Montserrat-Black.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local("Montserrat-BlackItalic"), url("../fonts/Montserrat-BlackItalic.woff") format("woff"); }

/* Roboto */
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Thin"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-ThinItalic"), url("../fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-display: swap;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Light"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-LightItalic"), url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Italic"), url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-MediumItalic"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-BoldItalic"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Black"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: local("Roboto-BlackItalic"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: italic; }

/* BalooBhaijaan */
@font-face {
  font-family: "Baloo Bhaijaan";
  src: local("BalooBhaijaan-Regular"), url("../fonts/BalooBhaijaan-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

/*  Dosis */
@font-face {
  font-family: "Dosis";
  src: local("Dosis-ExtraLight"), url("../fonts/Dosis-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Dosis";
  src: local("Dosis-Light"), url("../fonts/Dosis-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Dosis";
  src: local("Dosis-Regular"), url("../fonts/Dosis-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Dosis";
  src: local("Dosis-Medium"), url("../fonts/Dosis-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Dosis";
  src: local("Dosis-SemiBold"), url("../fonts/Dosis-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Dosis";
  src: local("Dosis-Bold"), url("../fonts/Dosis-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Dosis";
  src: local("Dosis-ExtraBold"), url("../fonts/Dosis-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal; }

/* Seravek */
@font-face {
  font-family: "Seravek";
  src: local("Seravek-ExtraLight"), url("../fonts/Seravek-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Seravek";
  src: local("Seravek-ExtraLightItalic"), url("../fonts/Seravek-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: italic; }

@font-face {
  font-family: "Seravek";
  src: local("Seravek-Light"), url("../fonts/Seravek-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Seravek";
  src: local("Seravek-LightItalic"), url("../fonts/Seravek-LightItalic.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: italic; }

@font-face {
  font-family: "Seravek";
  src: local("Seravek"), url("../fonts/Seravek.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Seravek";
  src: local("Seravek-Italic"), url("../fonts/Seravek-Italic.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: italic; }

@font-face {
  font-family: "Seravek";
  src: local("Seravek-Medium"), url("../fonts/Seravek-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Seravek";
  src: local("Seravek-MediumItalic"), url("../fonts/Seravek-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: italic; }

@font-face {
  font-family: "Seravek";
  src: local("Seravek-Bold"), url("../fonts/Seravek-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Seravek";
  src: local("Seravek-BoldItalic"), url("../fonts/Seravek-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: italic; }

/* Nunito */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Nunito-ExtraLight"), url("../fonts/Nunito-ExtraLight.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local("Nunito-ExtraLightItalic"), url("../fonts/Nunito-ExtraLightItalic.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Nunito-Light"), url("../fonts/Nunito-Light.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Nunito-LightItalic"), url("../fonts/Nunito-LightItalic.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Nunito-Regular"), url("../fonts/Nunito-Regular.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Nunito-Italic"), url("../fonts/Nunito-Italic.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Nunito-SemiBold"), url("../fonts/Nunito-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("Nunito-SemiBoldItalic"), url("../fonts/Nunito-SemiBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Nunito-Bold"), url("../fonts/Nunito-Bold.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Nunito-BoldItalic"), url("../fonts/Nunito-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Nunito-ExtraBold"), url("../fonts/Nunito-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local("Nunito-ExtraBoldItalic"), url("../fonts/Nunito-ExtraBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Nunito-Black"), url("../fonts/Nunito-Black.woff") format("woff"); }

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local("Nunito-BlackItalic"), url("../fonts/Nunito-BlackItalic.woff") format("woff"); }

/*  Lato */
@font-face {
  font-family: "Lato";
  src: local("Lato-Hairline"), url("../fonts/Lato-Hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-HairlineItalic"), url("../fonts/Lato-HairlineItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-Thin"), url("../fonts/Lato-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-ThinItalic"), url("../fonts/Lato-ThinItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-Light"), url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-LightItalic"), url("../fonts/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-Regular"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-Italic"), url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-Medium"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-MediumItalic"), url("../fonts/Lato-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-Semibold"), url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-SemiboldItalic"), url("../fonts/Lato-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-Bold"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-BoldItalic"), url("../fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-Heavy"), url("../fonts/Lato-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-HeavyItalic"), url("../fonts/Lato-HeavyItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-Black"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lato";
  src: local("Lato-BlackItalic"), url("../fonts/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

/* Source Code Pro */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("SourceCodePro-ExtraLight"), url("../fonts/SourceCodePro-ExtraLight.woff") format("woff"); }

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("SourceCodePro-Light"), url("../fonts/SourceCodePro-Light.woff") format("woff"); }

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("SourceCodePro-Regular"), url("../fonts/SourceCodePro-Regular.woff") format("woff"); }

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("SourceCodePro-Medium"), url("../fonts/SourceCodePro-Medium.woff") format("woff"); }

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("SourceCodePro-Semibold"), url("../fonts/SourceCodePro-Semibold.woff") format("woff"); }

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("SourceCodePro-Bold"), url("../fonts/SourceCodePro-Bold.woff") format("woff"); }

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("SourceCodePro-Black"), url("../fonts/SourceCodePro-Black.woff") format("woff"); }

/* SourceSansPro */
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("SourceSansPro-ExtraLight"), url("../fonts/SourceSansPro-ExtraLight.woff") format("woff"); }

@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local("SourceSansPro-ExtraLightItalic"), url("../fonts/SourceSansPro-ExtraLightItalic.woff") format("woff"); }

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("SourceSansPro-Light"), url("../fonts/SourceSansPro-Light.woff") format("woff"); }

@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("SourceSansPro-LightItalic"), url("../fonts/SourceSansPro-LightItalic.woff") format("woff"); }

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("SourceSansPro-Regular"), url("../fonts/SourceSansPro-Regular.woff") format("woff"); }

@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("SourceSansPro-Italic"), url("../fonts/SourceSansPro-Italic.woff") format("woff"); }

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("SourceSansPro-SemiBold"), url("../fonts/SourceSansPro-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("SourceSansPro-SemiBoldItalic"), url("../fonts/SourceSansPro-SemiBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("SourceSansPro-Bold"), url("../fonts/SourceSansPro-Bold.woff") format("woff"); }

@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("SourceSansPro-BoldItalic"), url("../fonts/SourceSansPro-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("SourceSansPro-Black"), url("../fonts/SourceSansPro-Black.woff") format("woff"); }

@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local("SourceSansPro-BlackItalic"), url("../fonts/SourceSansPro-BlackItalic.woff") format("woff"); }

/* Quicksand */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: local("Quicksand-Light"), url("../fonts/Quicksand-Light.woff") format("woff"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Quicksand-Regular"), url("../fonts/Quicksand-Regular.woff") format("woff"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Quicksand-Medium"), url("../fonts/Quicksand-Medium.woff") format("woff"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Quicksand-Bold"), url("../fonts/Quicksand-Bold.woff") format("woff"); }

/* Open Sans */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("OpenSans-Light"), url("../fonts/OpenSans-Light.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("OpenSans-LightItalic"), url("../fontsOpenSans-LightItalic.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans-Italic"), url("../fonts/OpenSans-Italic.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("OpenSans-SemiBoldItalic"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("OpenSans-BoldItalic"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("OpenSans-ExtraBold"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local("OpenSans-ExtraBoldItalic"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"); }

/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Raleway-ExtraLight"), url("../fonts/Raleway-ExtraLight.woff") format("woff"); }

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Raleway-Regular"), url("../fonts/Raleway-Regular.woff") format("woff"); }

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Raleway-Medium"), url("../fonts/Raleway-Medium.woff") format("woff"); }

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Raleway-Bold"), url("../fonts/Raleway-Bold.woff") format("woff"); }

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Raleway-BoldItalic"), url("../fonts/Raleway-BoldItalic.woff") format("woff"); }

/* Merriweather */
@font-face {
  font-family: "Merriweather";
  src: local("Merriweather-Light"), url("../fonts/Merriweather-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather-Regular"), url("../fonts/Merriweather-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather-Bold"), url("../fonts/Merriweather-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather-Black"), url("../fonts/Merriweather-Black.woff") format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal; }

/* Graphik LCG */
@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/GraphikLCG-Thin.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/GraphikLCG-ThinItalic.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/GraphikLCG-ExtraLight.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/GraphikLCG-ExtraLightItalic.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/GraphikLCG-Light.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/GraphikLCG-LightItalic.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/GraphikLCG-Regular.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/GraphikLCG-Italic.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/GraphikLCG-Medium.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/GraphikLCG-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/GraphikLCG-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/GraphikLCG-SemiBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/GraphikLCG-Bold.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/GraphikLCG-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/GraphikLCG-Black.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/GraphikLCG-BlackItalic.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/GraphikLCG-Super.woff") format("woff"); }

@font-face {
  font-family: "Graphik LCG";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/GraphikLCG-SuperItalic.woff") format("woff"); }

/* Inter  */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff") format("woff"); }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff") format("woff"); }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff") format("woff"); }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"); }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"); }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"); }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff") format("woff"); }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff") format("woff"); }

/* Diodrum Cyrillic */
@font-face {
  font-family: 'Diodrum Cyrillic';
  src: local("Diodrum Cyrillic Medium"), local("DiodrumCyrillic-Medium"), url("../fonts/DiodrumCyrillic-Medium.woff2") format("woff2"), url("../fonts/DiodrumCyrillic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Diodrum Cyrillic';
  src: local("Diodrum Cyrillic Bold"), local("DiodrumCyrillic-Bold"), url("../fonts/DiodrumCyrillic-Bold.woff2") format("woff2"), url("../fonts/DiodrumCyrillic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Diodrum Cyrillic';
  src: local("Diodrum Cyrillic Extralight"), local("DiodrumCyrillic-Extralight"), url("../fonts/DiodrumCyrillic-Extralight.woff2") format("woff2"), url("../fonts/DiodrumCyrillic-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Diodrum Cyrillic';
  src: local("Diodrum Cyrillic Semibold"), local("DiodrumCyrillic-Semibold"), url("../fonts/DiodrumCyrillic-Semibold.woff2") format("woff2"), url("../fonts/DiodrumCyrillic-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Diodrum Cyrillic';
  src: local("Diodrum Cyrillic Regular"), local("DiodrumCyrillic-Regular"), url("../fonts/DiodrumCyrillic-Regular.woff2") format("woff2"), url("../fonts/DiodrumCyrillic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Diodrum Cyrillic';
  src: local("Diodrum Cyrillic Light"), local("DiodrumCyrillic-Light"), url("../fonts/DiodrumCyrillic-Light.woff2") format("woff2"), url("../fonts/DiodrumCyrillic-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

/* NotoSansJP  */
@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("NotoSansJP Thin"), local("NotoSansJP-Thin"), url("../fonts/NotoSansJP-Thin.otf") format("opentype"); }

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("NotoSansJP Light"), local("NotoSansJP-Light"), url("../fonts/NotoSansJP-Light.otf") format("opentype"); }

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("NotoSansJP Regular"), local("NotoSansJP-Regular"), url("../fonts/NotoSansJP-Regular.otf") format("opentype"); }

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("NotoSansJP Medium"), local("NotoSansJP-Medium"), url("../fonts/NotoSansJP-Medium.otf") format("opentype"); }

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("NotoSansJP Bold"), local("NotoSansJP-Bold"), url("../fonts/NotoSansJP-Bold.otf") format("opentype"); }

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("NotoSansJP Black"), local("NotoSansJP-Black"), url("../fonts/NotoSansJP-Black.otf") format("opentype"); }

/* Poppins */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Poppins-Thin"), url("../fonts/Poppins-Thin.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local("Poppins-ThinItalic"), url("../fonts/Poppins-ThinItalic.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Poppins-ExtraLight"), url("../fonts/Poppins-ExtraLight.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local("Poppins-ExtraLightItalic"), url("../fonts/Poppins-ExtraLightItalic.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Poppins-Light"), url("../fonts/Poppins-Light.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Poppins-LightItalic"), url("../fonts/Poppins-LightItalic.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins-Regular"), url("../fonts/Poppins-Regular.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins-Italic"), url("../fonts/Poppins-Italic.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins-Medium"), url("../fonts/Poppins-Medium.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins-MediumItalic"), url("../fonts/Poppins-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins-SemiBoldItalic"), url("../fonts/Poppins-SemiBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins-BoldItalic"), url("../fonts/Poppins-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Poppins-ExtraBold"), url("../fonts/Poppins-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local("Poppins-ExtraBoldItalic"), url("../fonts/Poppins-ExtraBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Poppins-Black"), url("../fonts/Poppins-Black.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local("Poppins-BlackItalic"), url("../fonts/Poppins-BlackItalic.woff") format("woff"); }

/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Rubik-Light"), url("../fonts/Rubik-Light.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Rubik-LightItalic"), url("../fonts/Rubik-LightItalic.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik-Italic"), url("../fonts/Rubik-Italic.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Rubik-MediumItalic"), url("../fonts/Rubik-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Rubik-SemiBold"), url("../fonts/Rubik-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("Rubik-SemiBoldItalic"), url("../fonts/Rubik-SemiBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Rubik-Bold"), url("../fonts/Rubik-Bold.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Rubik-BoldItalic"), url("../fonts/Rubik-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Rubik-ExtraBold"), url("../fonts/Rubik-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local("Rubik-ExtraBoldItalic"), url("../fonts/Rubik-ExtraBoldItalic.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Rubik-Black"), url("../fonts/Rubik-Black.woff") format("woff"); }

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local("Rubik-BlackItalic"), url("../fonts/Rubik-BlackItalic.woff") format("woff"); }

/* ============================ mixin */
.icon {
  width: 40px;
  height: 39px;
  background: center center / cover no-repeat;
  background-image: url("../img/sprite.svg#bronze-medal");
  margin: 50px;
  border: 1px solid red;
  display: block; }

.btn {
  width: 50px;
  height: 50px;
  border: 2px solid green;
  border-radius: 5px; }

/* =========================== polyfills focus-visible */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.focus-visible {
  outline: 1px solid blue;
  outline-offset: 1px;
  transition: none; }

/* =========================== all */
body {
  font-family: "", sans-serif;
  color: #000;
  background: #fff;
  line-height: 1.5; }

.body__scroll {
  overflow: hidden; }

h1 {
  font-size: 30px;
  margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 22px;
      margin-bottom: 20px; } }

h2 {
  font-size: 24px;
  margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 22px;
      margin-bottom: 20px; } }

h3 {
  font-size: 24px;
  margin-bottom: 10px; }

h4 {
  font-size: 24px;
  margin-bottom: 10px; }

ol:not([class]), ul:not([class]) {
  margin-bottom: 12px; }

ol:not([class]) li, ul:not([class]) li {
  display: table;
  padding-left: 25px;
  position: relative; }

ol:not([class]) {
  counter-reset: number; }

ol:not([class]) li::before {
  counter-increment: number;
  content: counter(number) "." " ";
  position: absolute;
  left: 5px; }

ul:not([class]) li::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #4a474b;
  top: 9px;
  left: 10px; }

ol ol, ul ul {
  margin-left: 30px; }

a, p, ol:not([class]) li, ul:not([class]) li {
  font-size: 16px;
  line-height: 24px; }

p {
  margin-bottom: 20px; }

a {
  color: #000;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

b, strong {
  font-weight: bold; }

i {
  font-style: italic; }

img {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block; }

.float_right {
  float: right;
  margin-left: 20px; }

.float_left {
  float: left;
  margin-right: 20px; }

.float_right, .float_left {
  margin-bottom: 20px; }

.float_right img, .float_left img {
  margin-bottom: 0px; }

@media screen and (max-width: 767px) {
  .float_right, .float_left {
    float: none;
    margin-left: auto;
    margin-right: auto; } }

* {
  transition: all .3s; }

.btn {
  display: block;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  width: 172px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  margin: 0 auto; }

.overly {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }

.clear::after {
  content: "";
  display: block;
  clear: both; }

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

/* breadcrumbs */
.breadcrumbs {
  margin-bottom: 10px;
  justify-content: flex-start;
  align-content: center; }
  .breadcrumbs li, .breadcrumbs a {
    font-size: 12px; }
  .breadcrumbs li {
    margin-right: 15px;
    color: #fff; }
    .breadcrumbs li:last-child {
      margin-right: 0px; }
  .breadcrumbs a {
    color: rgba(255, 255, 255, 0.5);
    position: relative; }
    .breadcrumbs a:hover {
      color: #fff; }
    .breadcrumbs a::after {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      background: url("../img/sprite.svg");
      top: 6px;
      right: -11px; }

/* scroll vertical */
.scroll {
  -ms-overflow-y: auto;
  overflow-y: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: thin;
  scrollbar-color: #DCDFE9 transparent; }

.scroll::-webkit-scrollbar {
  height: 50%;
  width: 4px; }

.scroll::-webkit-scrollbar-track {
  background-color: transparent; }

.scroll::-webkit-scrollbar-thumb {
  background-color: #DCDFE9;
  border-radius: 5px; }

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #DCDFE9; }

.scroll::-webkit-scrollbar-thumb:active {
  background-color: #DCDFE9; }

.scroll::-webkit-scrollbar-thumb:vertical {
  min-height: 50%; }

.scroll::-webkit-scrollbar-thumb:horizontal {
  min-width: 4px; }

/* scroll horizontal */
.scroll_horizontal::-webkit-scrollbar {
  width: 50%;
  height: 4px; }

.scroll_horizontal::-webkit-scrollbar-thumb:horizontal {
  min-width: 50%; }

.scroll_horizontal::-webkit-scrollbar-thumb:vertical {
  min-height: 4px; }

/* form */
form input, form textarea {
  border: 1px solid #ededed;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 20px;
  width: 100%;
  font-size: 14px; }

form input {
  height: 40px;
  line-height: 40px;
  padding-left: 15px; }

form textarea {
  padding: 20px; }

input:focus, textarea:focus {
  outline: transparent; }

::-moz-placeholder {
  color: #878388;
  opacity: 1;
  font-size: 14px; }

:-ms-input-placeholder {
  color: #878388;
  opacity: 1;
  font-size: 14px; }

input:focus::-moz-placeholder {
  color: #171717; }

input:focus:-ms-input-placeholder {
  color: #171717; }

textarea:focus::-moz-placeholder {
  color: #171717; }

textarea:focus:-ms-input-placeholder {
  color: #171717; }

textarea:focus::placeholder {
  color: #171717; }

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none;
  appearance: none; }

/* ============================ container */
.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto; }
