<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css -->
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Document</title>
	
</head>
<body>
	
   {% include "block/header.twig" %}
    <svg viewBox="0 0 45 45" class="svg__progress" width='112' height='112'>
      <path class="circle__bg"
      d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <path class="circle"
      stroke-dasharray="50, 100"
      d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <text x="18" y="20.35" class="percentage"><tspan>1</tspan>/10</text>
  </svg>

  <svg viewBox="0 0 43 43" class="svg__progress" width='112' height='112'>
      <path class="circle__bg"
      d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <path class="circle"
      stroke-dasharray="50, 100"
      d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <text x="18" y="20.35" class="percentage"><tspan>5</tspan>/10</text>
  </svg>
<p>привет как дела</p>
 <!--  <div  name="percent">90</div> -->

   


	<!-- <div class="container">
		
		<div class="rating__user">
			<div class="title">Rating #1:</div>
			<div class="rating__group">
				<input class="rating__input" type="radio" id="rating-1" name="rating" value="1" aria-label="horrible">
				<label class="rating__star" for="rating-1"></label>

				<input class="rating__input" type="radio" id="rating-2" name="rating" value="2" aria-label="badly">
				<label class="rating__star" for="rating-2"></label>

				<input class="rating__input" type="radio" id="rating-3" name="rating" value="3" aria-label="normal">
				<label class="rating__star" for="rating-3"></label>

				<input class="rating__input" type="radio" id="rating-4" name="rating" value="4" aria-label="good">
				<label class="rating__star" for="rating-4"></label>

				<input class="rating__input" type="radio" id="rating-5" name="rating" value="5" aria-label="excellent">
				<label class="rating__star" for="rating-5"></label>
			</div>
			
		</div>


	</div> -->

	

	
<!-- 	<footer class="footer">
		<div class="container">
			
		</div>
	</footer>
	
	<div id="btn__scroll"><span class="fas fa-rocket"></span></div> -->

	<!-- javascript -->
	<script src="js/libs.min.js"></script>
	<script src="js/js.js"></script>

	

  </body>
  </html>