<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css -->
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Document</title>
</head>
<body>
	
	<header class="header">
		{% include "block/header.twig" %}
	</header>
	
	<div class="overly"></div>
	{% include "block/mob_nav.twig" %}

	<div class="container">
		<form action="#" method="post">
			<input type="text" name="name" placeholder="What is our name? mm?">
			<textarea name="message" id="" cols="30" rows="10" placeholder="message"></textarea>
		</form>
	</div>

	<footer class="footer">
		{% include "block/footer.twig" %}
	</footer>
	

	<!-- javascript -->
	<script src="js/libs.min.js"></script>
	<script src="js/js.js"></script>

	

  </body>
  </html>