@import "../css/reset";
@import "../css/fonts";

/* ============================ mixin */
@mixin sprite($width, $height, $icon) {
  width:$width;
  height:$height;
  background: center center / cover no-repeat;
  background-image: url($icon);
}
@mixin placeholder {
	&::placeholder {@content}
  	&::-webkit-input-placeholder {@content}
  	&:-moz-placeholder {@content}
  	&::-moz-placeholder {@content}
  	&:-ms-input-placeholder {@content}  
}

/* =========================== polyfills focus-visible */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
.focus-visible {
	outline:1px solid blue;
	outline-offset: 1px;
	transition: none;
}
/* =========================== all */
body {
	font-family: "", sans-serif;
	color: #000;
	background: #fff;
	line-height: 1.5;
}
.body__scroll {
	overflow: hidden;
}
h1 {
	font-size: 30px;
	margin-bottom: 30px;
	@media screen and (max-width: 768px) {
		font-size: 22px;
		margin-bottom: 20px;
	}
}
h2 {
	font-size: 24px;
	margin-bottom: 30px;
	@media screen and (max-width: 768px) {
		font-size: 22px;
		margin-bottom: 20px;
	}
}
h3 {
	font-size: 24px;
	margin-bottom: 10px;
}
h4 {
	font-size: 24px;
	margin-bottom: 10px;
}
ol:not([class]), ul:not([class]) {
	margin-bottom: 12px;
}
ol:not([class]) li, ul:not([class]) li {
	display:table;
	position: relative;
	padding-left:25px;
}
ol:not([class]) {
	counter-reset: number;
}
ol:not([class]) li::before {
	counter-increment: number;
	content: counter(number) "." " "; 
	position: absolute;
	left:5px;
}
ul:not([class]) li::before{
	position: absolute;
	content: "";
	width:4px;
	height:4px;
	border-radius:100%;
	background: #4a474b;
	top:9px;
	left:10px;
}
ol ol, ul ul {
	margin-left:30px;
}
a, p, ol:not([class]) li, ul:not([class]) li {
	font-size: 16px;
	line-height: 24px;
}
p {
	margin-bottom:20px;
}
a {
	color:#000;
	font-weight: bold;
	&:hover {
		text-decoration: underline;
	}
}
b, strong {
	font-weight:bold;
}
i, em {
	font-style:italic;
}
img {
	display:block;
	margin:0 auto;
	margin-bottom:20px;
}
.float_right {
	float:right;
	margin-left:20px;
}
.float_left {
	float:left;
	margin-right:20px;
}
.float_right, .float_left {
	margin-bottom: 20px;
}
.float_right img, .float_left img {
	margin-bottom:0px;
}
@media screen and (max-width:767px){
	.float_right, .float_left {
		float:none;
		margin-left:auto;
		margin-right:auto;
	}
}
* {
	transition:all .3s;
}
.btn {
	position: relative;
	z-index:1;
	display: block;
	width:172px;
	height:30px;
	line-height: 30px;
	border-radius:15px;
	cursor:pointer;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	margin:0 auto;
}
.overly {
	display:none;
	position: fixed;
	z-index:100;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.5);
}
.clear {
	&::after {
		content: "";
		display: block; 
		clear: both;
	}
}
.flexbox {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

/* breadcrumbs */
.breadcrumbs {
	justify-content: flex-start;
	align-content: center;
	margin-bottom: 10px;
	li, a {
		font-size:12px;
	}
	li {
		color:#fff;
		margin-right:15px;
		&:last-child {
			margin-right:0px;
		}
	}
	a {
		position: relative;
		color:rgba(255,255,255,.5);
		&:hover {
			color:#fff;
		}
		&::after {
			position: absolute;
			content: "";
			width:6px;
			height:6px;
			background: url("../img/sprite.svg");
			top:6px;
			right: -11px;
		}
	}
}

/* scroll vertical */
.scroll {
	-ms-overflow-y: auto;
	overflow-y: auto;
	-ms-scroll-chaining: none;
	overscroll-behavior: contain;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	scrollbar-width: thin;
	scrollbar-color: #DCDFE9 transparent;
}
.scroll::-webkit-scrollbar {
	width: 4px;
	height: 50%;
}
.scroll::-webkit-scrollbar-track {
	background-color: transparent; 
}
.scroll::-webkit-scrollbar-thumb {
	background-color: #DCDFE9;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}
.scroll::-webkit-scrollbar-thumb:hover {
	background-color: #DCDFE9; 
}
.scroll::-webkit-scrollbar-thumb:active {
	background-color: #DCDFE9; 
}
.scroll::-webkit-scrollbar-thumb:vertical {
	min-height: 50%; 
}
.scroll::-webkit-scrollbar-thumb:horizontal {
	min-width: 4px; 
}

/* scroll horizontal */
.scroll_horizontal::-webkit-scrollbar {
	width: 50%;
	height: 4px; 
}
.scroll_horizontal::-webkit-scrollbar-thumb:horizontal {
	min-width: 50%; 
}
.scroll_horizontal::-webkit-scrollbar-thumb:vertical {
	min-height: 4px; 
}

/* form */
form {
	input, textarea {
		border: 1px solid #ededed;
		-webkit-appearance:none;
		appearance:none;
		border-radius: 20px;
		width:100%;
		// font-family: "";
		font-size:14px;
	}
	input {
		height: 40px;
		line-height: 40px;
		padding-left: 15px;
	}
	textarea {
		padding:20px;
	}
}
button {
	// font-family: "";
}

input, textarea {
	@include placeholder {
		color:#878388;
		opacity: 1;
		// font-family: "";
		font-size:14px;
	}
	&:focus {
		@include placeholder {
			color:#171717;
		}
	}
}

input[type=text]::-ms-clear {  
	display: none; width : 0; height: 0; 
}
input[type=text]::-ms-reveal {  
	display: none; width : 0; height: 0; 
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
	display: none; 
	-webkit-appearance:none;
	appearance:none;
}

/* ============================ container */
.container {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

/* menu */
.menu__item {
	position: relative;
	z-index: 1;
	margin:0 15px;
	&:last-child {
		margin-right: 0;
	}
	&.arr {
		position: relative;
		.menu__link {
			padding-right: 20px;
			&::after {
				transition: transform .3s linear;
				@include sprite(11px, 7px, "../img/sprite.svg#down-arrow");
				right:0;
				top:9px;
			}
		}
		&:hover {
			.menu__link {
				&::after {
					transform: rotate(-180deg);
				}
			}
			.downmenu {
				display: block;
			}
		}
	}
	&:hover {
		.menu__link {
			color: #272529;
			&::before {
				width:100%;
			}
		}
	}
}
.menu__link {
	position: relative;
	z-index: 1;
	font-size: 16px;
	font-weight: 600;
	line-height: 25px;
	color: #272529;
	&::before, &::after {
		position: absolute;
		content: "";
	}
	&::before {
		transition: width .3s linear;
		left:0;
		bottom:-2px;
		width:0;
		height:2px;
		border-radius: 1px;
  		background-color: #1AE48E;
	}
}
.downmenu {
	position: absolute;
	display: none;
	width:170px;
	transform:translatex(-50%);
	left:50%;
	top:0;
	padding-top: 46px;
}
.submenu {
	position: relative;
	border-radius: 0 0 8px 8px;
  	background-color: #FFFFFF;
  	box-shadow: 0 20px 20px 0 rgba(0,0,0,0.1);
  	padding:20px 10px;
  	margin-left: 0;
  	&::after {
  		position: absolute;
  		content: "";
  		width:100%;
  		height:100%;
  		top:0;
  		left:0;
  		right:0;
  		bottom:0;
  		box-shadow: 0px 40px 40px -40px rgba(0,0,0,0.1) inset, 0px 0 40px -40px rgba(0,0,0,0.1) inset;
  	}
  	li {
  		text-align: center;
  		margin-bottom: 5px;
  		&:last-child {
  			margin-bottom: 0;
  		}
  	}
  	a {
  		position: relative;
  		z-index: 2;
  		font-size: 16px;
  		font-weight: 500;
  		line-height: 25px;
  		color: #989AA0;
  		&:hover {
  			color: #1AE48E;
  		}
  	}
}

/* hamburger */
.hamburger {
	display: none;
	width:25px;
	height:20px;
	text-align: center;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	border: 0;
	overflow: visible;
	margin: 0;
	margin-left: 15px;
}
.hamburger:hover, .hamburger.is-active:hover {
	opacity: 0.7; 
}
.hamburger.is-active .hamburger-box {
	width:25px;
}
.hamburger.is-active .hamburger-inner {
	background-color: #277BFF;
}
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color:#277BFF; 
}
.hamburger-box {
	position: relative; 
	display: inline-block;
	width: 25px;
	height: 20px;
}
.hamburger-inner {
	display: block;
	top: 50%; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 1.5px;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease; 
}
.hamburger-inner {
	background-color: #277BFF;
}
.hamburger-inner::before, .hamburger-inner::after {
	background-color: #277BFF;
	right:0;
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block; 
}
.hamburger-inner::before {
	width:15px;
	top: 8px; 
}
.hamburger-inner::after {
	width:25px;
	bottom: 8px;
}
.hamburger--spin .hamburger-inner {
	width:20px;
	transition-duration: 0.22s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spin .hamburger-inner::before {
	transition: top 0.1s 0.25s ease-in, 
	opacity 0.1s ease-in; 
}
.hamburger--spin .hamburger-inner::after {
	transition: bottom 0.1s 0.25s ease-in, 
	transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spin.is-active .hamburger-inner {
	width:24px;
	height:2px;
	transform: rotate(225deg);
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}
.hamburger--spin.is-active .hamburger-inner::before {
	height:2px;
	top: 0;
	opacity: 0;
	transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; 
}
.hamburger--spin.is-active .hamburger-inner::after {
	height:2px;
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
}

/* navigation mob */
.navigation_mob {
	position: fixed;
	z-index: 101;
	display: none;
	width:320px;
	height:100%;
	right:-320px;
	bottom:0;
	top:53px;
	overflow: hidden;
	background: rgba(255,255,255,.95);
	padding-top: 52px;
	.menu {
		text-align: center;
	}
	.menu__item {
		padding:10px 0;
		margin-left: 0;
		&.arr {
			&::after {
				transform:none;
			}
		}
	}
	.menu__link {
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
	}
	.downmenu {
		position: relative;
		width:100%;
		transform:none;
		left:auto;
		padding-top: 0px;
	}
	.submenu {
		background: transparent;
		box-shadow: none;
		padding-bottom: 0;
		&::after {
			display: none;
		}
		a {
			font-size: 20px;
			font-weight: 500;
			line-height: 30px;
		}
	}
}
.noclick {
	.downmenu {
		display: block;
	}
	&.arr {
		padding:10px 0;
		margin-left: 0;
		.menu__link {
			&::after {
				transform:rotate(-180deg);
			}
			&::before {
				width:100%;
			}
		}
	}
}
.navigation_mob__open {
	display: block;
	animation: menu .3s linear forwards;
}
@keyframes menu {
	0 {
		right:-320px;
	}
	100% {
		right:0;
	}
}
@media screen and (max-width: 768px) {
	.navigation_desctop {
		.menu {
			display: none;
			margin-left: 0;
		}
	}
	.hamburger {
		display: block;
	}
}