@import "../css/reset";
@import "../css/fonts";

/* =========================== all */

body {
	font-family: "", sans-serif;
	color: #000;
	background: #fff;
	line-height: 1.5;
}
h1, h2, h3, h4 {
	
}
h1 {
	font-size: 30px;
	margin-bottom: 30px;
	@media screen and (max-width: 767px) {
		font-size: 22px;
		margin-bottom: 20px;
	}
}
h2 {
	font-size: 24px;
	margin-bottom: 30px;
	@media screen and (max-width: 767px) {
		font-size: 22px;
		margin-bottom: 20px;
	}
}
h3 {
	font-size: 24px;
	margin-bottom: 10px;
}
h4 {
	font-size: 24px;
	margin-bottom: 10px;
}
ol:not([class]), ul:not([class]) {
	margin-bottom: 12px;
}
ol:not([class]) li, ul:not([class]) li {
	display:table;
	padding-left:25px;
	position: relative;
}
ol:not([class]) {
	counter-reset: number;
}
ol:not([class]) li::before {
	counter-increment: number;
	content: counter(number) "." " "; 
	position: absolute;
	left:5px;
}
ul:not([class]) li::before{
	position: absolute;
	content: "";
	width:4px;
	height:4px;
	border-radius:100%;
	background: #4a474b;
	top:9px;
	left:10px;
}
ol ol, ul ul {
	margin-left:30px;
}
a, p, ol:not([class]) li, ul:not([class]) li {
	font-size: 16px;
}
p {
	margin-bottom:20px;
}
a {
	color:#000;
	font-weight: bold;
	&:hover {
		text-decoration: underline;
	}
}
b, strong {
	font-weight:bold;
}
i {
	font-style:italic;
}
img {
	margin:0 auto;
	margin-bottom:20px;
	display:block;
}
.float_right {
	float:right;
	margin-left:20px;
}
.float_left {
	float:left;
	margin-right:20px;
}
.float_right, .float_left {
	margin-bottom: 20px;
}
.float_right img, .float_left img {
	margin-bottom:0px;
}
@media screen and (max-width:767px){
	.float_right, .float_left {
		float:none;
		margin-left:auto;
		margin-right:auto;
	}
}
* {
	transition:all .3s;
}
.btn {
	display: block;
	cursor:pointer;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	height:30px;
	line-height: 30px;
	width:172px;
	margin:0 auto;
	position: relative;
	z-index:1;
	border-radius:15px;
	&:hover {
		transform: rotateX(40deg);
	}
}
.overly {
	display:none;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.5);
}
.flexbox {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

/* breadcrumbs */
.breadcrumbs {
	margin-bottom: 10px;
	justify-content: flex-start;
	align-content: center;
	li, a {
		font-size:12px;
	}
	li {
		margin-right:15px;
		color:#fff;
		&:last-child {
			margin-right:0px;
		}
	}
	a {
		color:rgba(255,255,255,.5);
		position: relative;
		&:hover {
			color:#fff;
		}
		&::after {
			position: absolute;
			content: "";
			width:6px;
			height:6px;
			background: url("../img/sprite.svg");
			top:6px;
			right: -11px;
		}
	}
}

/* form */
form {
	input {
		outline: none;
		border: none;
		border-radius: 20px;
		width:100%;
		height: 40px;
		// font-family: "";
		line-height: 40px;
		padding-left: 15px;
		border: 1px solid #ededed;
		-webkit-appearance:none;
	}
	textarea {
		width:100%;
		border: 1px solid #ededed;
		border-radius:20px;
		padding:20px;
		// font-family: "";
		font-size:14px;
	}
}
button {
	// font-family: "";
}
input:focus, textarea:focus {
	outline: transparent;
}
::-webkit-input-placeholder { 
	color: #878388;
	opacity: 1;
	// font-family: "";
	font-size:14px; 
}
::-moz-placeholder { 
	color: #878388;
	opacity: 1;
	// font-family: "";
	font-size:14px; 
}
:-ms-input-placeholder      { 
	color: #878388; 
	opacity: 1;
	// font-family: "";
	font-size:14px;
}
input:focus::-webkit-input-placeholder { 
	color: #171717;
}
input:focus::-moz-placeholder { 
	color: #171717;
}
input:focus:-ms-input-placeholder { 
	color: #171717; 
}
textarea:focus::-moz-placeholder { 
	color: #171717;
}
textarea:focus::placeholder { 
	color: #171717;
}
input[type=text]::-ms-clear {  
	display: none; width : 0; height: 0; 
}
input[type=text]::-ms-reveal {  
	display: none; width : 0; height: 0; 
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
	display: none; 
	-webkit-appearance:none;
}

.body__scroll {
	overflow: hidden;
}
.clear {
	&::after {
		content: "";
		display: block; 
		clear: both;
	}
}
/* ============================ container */

.container {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}
