<div class="container flexbox">
    <a href="#" class="logo"><img src="img/logo.svg" alt="logo" width="257" height="30"></a>
    <nav class="navitagion navigation_header flexbox">
    	<ul class="menu flexbox">
            <li class="menu__item arr">
                <a href="#" class="menu__link">Review</a>
                <div class="downmenu">
                    <ul class="submenu">
                        <li><a href="#">Review</a></li>
                        <li><a href="#">Review</a></li>
                        <li><a href="#">Review</a></li>
                        <li><a href="#">Review</a></li>
                        <li><a href="#">Review</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu__item"><a href="#">Blog</a></li>
        </ul>
    	<button type="button" class="hamburger hamburger--spin" aria-expanded="false" aria-controls="menu__list">
		    <span class="hamburger-box">
		    	<span class="hamburger-inner"></span>
		    </span>
	    </button>
    </nav>
    
</div>
